html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  background: black;
  color: white;

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

iframe,
.webcomponent {
  position: relative;
  width: 90vw;
  height: 400px;
}
